.arrowDown {
  /* Remove the transition property */
}

.arrowDown:hover {
  transform: translateY(-10px);
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


iframe {
  width: 100vw;
  height: 100vh;
  border: none;
}

@media (min-width: 768px) {
  .application {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .application {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .application {
    height: 600px;
  }
}


@media (min-width: 992px) {
  .application:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .application {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .application {
    width: calc(50% - 15px);
  }
}

@media (min-width: 1200px) {
  .application {
    width: calc(33.3333% - 20px);
  }
}

@media (min-width: 1200px) {
  .application:nth-child(3n+1) {
    margin-right: 30px;
  }
}