table {
    border-collapse: separate;
    border-spacing: 0px;
  }

  @media only screen and (min-width: 400px) {
    table{
        border-spacing: 20px
    }
  }

  .houseList {
    overflow-x: scroll;
  }
  .applicantsList {
    overflow-x: scroll;
  }
  
  

 select {
    appearance: none;
  }

  
